[submodule "cert-manager-webhook-scaleway"]
	path = cert-manager-webhook-scaleway
	url = https://github.com/scaleway/cert-manager-webhook-scaleway.git
[submodule "deprecated"]
	path = deprecated
	url = https://github.com/helm/charts.git
